<%  provide(:about_active, 'active') %>

<div  style="margin-bottom: 10px;">
<h1> About Our Team</h1>
<br></br>
</div>

<!--This adds the card structure for the team members -->
<div class="row">
    <div class="column">
        <div class="card">
        <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?h=350&auto=compress&cs=tinysrgb" alt="Jane" style="width:100%">
        <div class="container">
            <h2>Sai Pappu</h2>
            <p class="title">Team Lead</p>
            <p>Game of thrones is the best tv show.</p>
            <p>sai.pappu.562@my.csun.edu</p>
            <p><button class="button"><a href="http://gmail.com"> Contact</a></button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="https://images.pexels.com/photos/35796/amazing-beautiful-beauty-blue.jpg?h=350&auto=compress&cs=tinysrgb" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Johnfred Cornel</h2>
            <p class="title">Team Member</p>
            <p> I have two first names.</p>
            <p>johnfred.cornell.287@my.csun.edu</p>
            <p><button class="button"><a href="http://gmail.com">Contact</a></button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="https://images.pexels.com/photos/163513/tree-morning-nature-sunrise-163513.jpeg?h=350&auto=compress&cs=tinysrgb" alt="John" style="width:100%">
        <div class="container">
            <h2>Satbir Dhaliwal</h2>
            <p class="title"> Team Member</p>
            <p>I am tall and play volleyball</p>
            <p>satbir.dhaliwal.644@my.csun.edu</p>
            <p><button class="button"><a href="http://gmail.com">Contact</a></button></p>
        </div>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
        <img src="https://images.pexels.com/photos/158607/cairn-fog-mystical-background-158607.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Hilmi Hisham </h2>
            <p class="title">Team Member</p>
            <p>Those aren't my full name..</p>
            <p>muhammadhilmi.badrolhisham.272@my.csun.edu</p>
            <p><button class="button"><a href="http://gmail.com">Contact</a></button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="https://images.pexels.com/photos/385236/pexels-photo-385236.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Prince Patel</h2>
            <p class="title">Team Member</p>
            <p>Just a skinny cyclist</p>
            <p>prince.patel.271@my.csun.edu</p>
            <p><button class="button"><a href="http://gmail.com">Contact</a></button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="https://images.pexels.com/photos/101529/pexels-photo-101529.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Elnaz Ramezani</h2>
            <p class="title">Team Member</p>
            <p> Likes reading</p>
            <p>ellena.ramezani@gmail.com</p>
            <p><button class="button"></button></p>
        </div>
        </div>
    </div>

</div>

