<%  provide(:pricing_active, 'active') %>

<div  style="margin-bottom: 10px;">
<h1> Support Us</h1>
<br></br>
</div>
<!-- shows the pricing page for us -- >
<div class="columns">
  <ul class="price">
    <li class="header">Begineer</li>
    <li class="amount">$1</li>
    <li>See posts</li>
    <li>Read posts</li>
    <li>Make posts</li>
    <li>Edit posts</li>
    <li class="grey"><a href="http://patreon.com/380blog" class="button">Support Patreon</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Intermediate</li>
    <li class="amount">$3</li>
    <li>See posts</li>
    <li>Read posts</li>
    <li>Make posts</li>
    <li>Edit posts</li>
    <li class="grey"><a href="http://patreon.com/380blog" class="button">Support Patreon</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Advanced</li>
    <li class="amount">$5</li>
    <li>See posts</li>
    <li>Read posts</li>
    <li>Make posts</li>
    <li>Edit posts</li>
    <li class="grey"><a href="http://patreon.com/380blog" class="button">Support Patreon</a></li>
  </ul>
</div>




